/* All styles for your Card Components live here */

a {
    margin-left: 55px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px solid lightgrey;
    

    .banner-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: auto;
    }
    .card-content{
        padding-left: 10px;

        .grey {
            color: grey;
        }
    }
}