.btn-styles {
    width: 100px;
    height: 80px;
    font-size: 3rem;

}

.red-btn {
    background-color: red;
    color:white;
    font-size: 3.5rem;
}

.white-large-btn {
    width: 300px;
    height: 80px;
    font-size: 3rem;
}